# Binaries
*.exe
*.test
*.prof
api-service

# Build artifacts
*.o
*.a
*.so

# Test artifacts
_obj
_test
_testmain.go

# CGo
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# macOS
.DS_Store

# IDE
.idea
.vscode

# Temp
tmp
